exclude: |
  (?x)^(
      .mypy_cache/
      | .venv/
      | __pycache__/
      | .ruff_cache/
      | .serena/
  )$

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check --force-exclude --fix
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
      - id: uv-lock
        name: uv lock --check
        entry: uv lock --check
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: uv run mypy --show-error-codes .
        language: system
        types_or: [python, pyi, jupyter]
